<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все туры</title>
</head>
<body>
<h1>Все туры:</h1>
{{ if {{role}} == "admin" }}
{% if {{role}} == "admin" %}

<p>Куба: <a href="/data/tours/1/">Marina Lake Hotel & Spa 62000 4* </a></p>
<p>Вьетнам: <a href="/data/tours/2/">Baroque Hotel 85000 5* </a></p>
<p>Пакистан: <a href="/data/tours/3/">Voyager Resort 63000 3* </a></p>
<p>Индия: <a href="/data/tours/4/">Orbit Hotel 62000 4* </a></p>
<p>Доминикана: <a href="/data/tours/5/">Atlantis Cabin Hotel 68000 4* </a></p>
<p>Пакистан: <a href="/data/tours/6/">Light Renaissance Hotel 53000 3* </a></p>
<p>Мексика: <a href="/data/tours/7/">King's Majesty Hotel 72000 5* </a></p>
<p>Тайланд: <a href="/data/tours/8/">Crown Hotel 44000 4* </a></p>
<p>Индия: <a href="/data/tours/9/">Seascape Resort 39000 3* </a></p>
<p>Куба: <a href="/data/tours/10/">Rose Sanctum Hotel 52000 4* </a></p>
<p>Индия: <a href="/data/tours/11/">Viridian Obelisk Hotel & Spa 68000 5* </a></p>
<p>Мексика: <a href="/data/tours/12/">Saffron Tundra Hotel & Spa 72000 4* </a></p>
<p>Куба: <a href="/data/tours/13/">Traveller Resort 49000 3* </a></p>
<p>Вьетнам: <a href="/data/tours/14/">History Hotel & Spa 91000 5* </a></p>
<p>Доминикана: <a href="/data/tours/15/">Riverside Lagoon Hotel & Spa 82000 4* </a></p>
<p>Вьетнам: <a href="/data/tours/16/">History Hotel & Spa 74000 5* </a></p>
</body>
</html>